body {
    background: #f2eaff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.canal-status {
    width: 200px;
    margin: 20px auto;
    background: #b2f7b2;
    padding: 15px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    border-radius: 12px;
}

.updated-time {
    text-align: center;
    font-size: 18px;
    margin-top: -10px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background: white;
    width: 28%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.badge-safe {
    background: #b2f7b2;
    color: black;
    padding: 5px 12px;
    border-radius: 6px;
}

.badge-caution {
    background: #fcd277;
    color: black;
    padding: 5px 12px;
    border-radius: 6px;
}

.chart-row {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.chart-card {
    width: 45%;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
