body {
  background: #f0eaff;
  font-family: Arial;
  text-align: center;
}

#cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: left;
}

.badge-safe {
  background: #b6ffb2;
  padding: 5px 10px;
  border-radius: 8px;
}

.badge-caution {
  background: #ffe49d;
  padding: 5px 10px;
  border-radius: 8px;
}

.chart-container {
  width: 700px;
  margin: 30px auto;
}
