body {
    font-family: Arial, sans-serif;
    background: #f1e8ff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 15px 0;
}

#canalStatus {
    background: #baf7ba;
    width: 200px;
    margin: auto;
    padding: 12px;
    border-radius: 10px;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 30%;
    min-width: 320px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.status-badge {
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 14px;
    color: white;
    display: inline-block;
    margin-bottom: 10px;
}

.safe { background: #6ee66e; }
.caution { background: #e6c14f; }
.unsafe { background: #e66e6e; }

.charts-row {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

.chart-card {
    background: white;
    width: 40%;
    min-width: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}
