body {
    background: #f3eaff;
    font-family: Arial;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 25px;
}

.card {
    background: white;
    padding: 20px;
    width: 30%;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.status {
    padding: 5px 12px;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    display: inline-block;
}
