body {
  background: #f3eaff;
  font-family: Arial, sans-serif;
  text-align: center;
}

.status {
  background: #b4ffb4;
  padding: 10px;
  width: 200px;
  margin: auto;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 2px 6px #ccc;
  text-align: left;
}

.badge-safe { background: #b4ffb4; }
.badge-caution { background: #ffd966; }
.badge-unsafe { background: #ff9999; }

.graph-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 40px;
}
canvas {
  background: white;
  padding: 20px;
  width: 450px !important;
  height: 260px !important;
  border-radius: 12px;
  box-shadow: 0 2px 6px #bbb;
}
